!!! 5
html
  head
    script(src='/stalk.js')
    != masher.style('common')
    title= pageTitle
  body
    header
      h1 Some header
    div
      != body
    footer
      p some footer
      p some footer
